{% import "macro.html" as macro with context %}
{# 'with context' is needed to make flask_login's current_user attribute available -- their docs didn't say so, of course #}
{# jinja literals described here --- https://jinja.palletsprojects.com/en/2.11.x/templates/#import-context-behavior #}
<!doctype html>
<html lang="en">
    {{ macro.head(post) }}

    <body>
        {{ macro.header() }}

        {{ macro.login_status() }}
        
        <article class="center {% if post.properties.feed %}h-feed{% else %}h-entry{% endif %}">

            <h1 id="article-title" class="{% if not macro.name(post) %}{% else %}p-name{% endif %}"><a class="u-url" href="{{post.properties.url}}">{{ macro.name(post) }}</a></h1>

            {{ macro.metadata_area(post, np) }}
            
            <div id="article-body" class="{% if post.properties.feed %}{% else %}e-content{% endif %} {% if not macro.name(post) %}p-name{% else %}{% endif %}">
                {{ macro.content(post) }}
                {{ macro.offload(post) }}
            </div>
            
        </article>

        {{macro.webmentions(post)}}
        
        

        <div class="center" id="webmentions"></div>

        <script data-goatcounter="https://maxwelljoslyn.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>

{#        {{ macro.join_drongo() }} #}
        
    </body>
</html>
