{% import "macro.html" as macro %}

<p>Here are all {{num_posts}} publicly-listed posts on this site.</p>

<p><em>Articles</em>, including <em>Poems</em>, are considered evergreen. <em>Notes</em> are shorter and more ephemeral: updates, announcements, and one-offs.</p>


{# use ns to track and conditionally print pubdate #}
{% set ns = namespace(pub=None, in_ul=False) %}
{% for entry in entries %}

{% if ns.pub != macro.ymdonly(macro.raw_published(entry)) %}
{% if ns.in_ul %}
</ul>
{% set ns.in_ul=False %}
{% endif %}
{{ macro.ymdonly(macro.raw_published(entry)) }}
{% set ns.pub = macro.ymdonly(macro.raw_published(entry)) %}
<ul class="tight">
    {% set ns.in_ul=True %}
    {% endif %}
    <li>
        <span class="h-entry"><a class="u-url" href="{{entry.properties.url}}">{% if entry.properties.name %}{{entry.properties.name}}{% else %}a note{% endif %}</a></span>
    </li>
    {% endfor %}
