{% macro name_placeholder() %}a note{% endmacro %}

{% macro login_status() %}
<span class="login-status">
{% if current_user.is_authenticated %}
Hi, {{ current_user.username }}.  <a class="muted" href="/logout">Log Out?</a>
{% else %}
<a class="muted" href="/login">Log In?</a>
{% endif %}
</span>
{% endmacro %}

{% macro hcard() %}
{# todo fixme - use author and author-url variables in the link text and the href #}

<a rel="author" class="p-author" href="https://www.maxwelljoslyn.com" style="display: none;">Maxwell Joslyn</a>
{% endmacro %}


{% macro offload(post) %}
{% if 'offload' in post.properties.category %}
<div class="muted center">
    <span>Part of the blogging challenge <a href="https://100daystooffload.com">100 Days To Offload.</a></span>
</div>
{% endif %}
{% endmacro %}

{% macro collected_poem(post) %}
<h2>{{ post["properties"]["name"]}}</h2>
<p><span class="h-entry"><a class="u-url" href="{{post.properties.url}}">{{ymdonly(raw_published(post))}}</a></span>{% if post.properties.updated %} (updated {{ymdonly(raw_updated(post))}}){% endif %}</p>
{{content(post)}}
{% endmacro %}

{% macro next_prev(np) %}
{% if not np %}
{% elif np.next and not np.prev %}
<span id="next-and-previous"><a rel="next" href="{{np.next}}">Next</a> ⇨</span>
{% elif np.prev and not np.next %}
<span id="next-and-previous">⇦ <a rel="prev" href="{{np.prev}}">Previous</a></span>
{% else %}
<span id="next-and-previous">⇦ <a rel="prev" href="{{np.prev}}">Previous</a> ◍ <a rel="next" href="{{np.next}}">Next</a> ⇨</span>
{% endif %}
{% endmacro %}

{% macro old_next_prev(post) %}
{% if not post.properties.prev and not post.properties.next %}
{# neither, so don't print anything #}
{% elif post.properties.next and not post.properties.prev %}
<span id="next-and-previous"><a rel="next" href="{{post.properties.next}}">Next</a> ⇨</span>
{% elif post.properties.prev and not post.properties.next %}
<span id="next-and-previous">⇦ <a rel="prev" href="{{post.properties.prev}}">Previous</a></span>
{% else %}
<span id="next-and-previous">⇦ <a rel="prev" href="{{post.properties.prev}}">Previous</a> ◍ <a rel="next" href="{{post.properties.next}}">Next</a> ⇨</span>
{% endif %}
{% endmacro %}


{% macro header() %}
<header class="cluster center">
    <div class="h-card">
        <a id="logo" rel="me" class="u-url u-uid" href="https://www.maxwelljoslyn.com">Maxwell Joslyn</a>
        <a rel="me" href="mailto:maxwelljoslyn@gmail.com"></a>
    </div>
    <nav class="cluster">
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/blog" rel="feed" type="text/html" title="Maxwell's Blog">Blog</a>
        <a href="/tags">Tags</a>
    </nav>
</header>
{% endmacro %}


{% macro name(post) %}
{% if post.properties.name and post.properties.name is not string %}
{# it's a list because we're in sillly microformats JSON land #}
{{post.properties.name[0]}}
{% elif post.properties.name is string and post.properties.name != "" %}
{{post.properties.name}}
{% else %}
{{name_placeholder()}}
{% endif %}
{% endmacro %}

{% macro head(post) %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name(post) %}{{ name(post) }}{% else %}{{ slug }}{% endif %}</title>
    <link rel="webmention" href="https://webmention.io/www.maxwelljoslyn.com/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.maxwelljoslyn.com/xmlrpc"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bls.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fluffy-stuffy/webmention.css') }}" />
    <script src="{{ url_for('static', filename='callout.js') }}" async></script>
    <script src="{{ url_for('static', filename='fluffy-stuffy/webmention.js') }}" async></script>
    <script src="{{ url_for('static', filename='leader-line.min.js') }}" async></script>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://www.maxwelljoslyn.com/micropub">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/418">
    <link rel="feed" type="text/html" title="Maxwell's Blog" href="https://www.maxwelljoslyn.com/blog" />
    <!-- Bigfoot.js for footnotes -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigfoot-default.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bigfoot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='run-bigfoot.js') }}"></script>
    <meta property="og:url" content="{{post['properties']['url']}}"/>
    <meta property="og:type" content="website" />
    {% if post["properties"]["og-image"]%}<meta property="og:image" content="{{post['properties']['og-image']}}"/>{% endif %}
</head>
{% endmacro %}



{% macro raw_published(post) %}
{% if post.properties.published is string %}
{{post.properties.published}}
{% else %}
{{post.properties.published[0]}}
{% endif %}
{% endmacro %}

{% macro raw_updated(post) %}
{% if post.properties.updated is string %}
{{post.properties.updated}}
{% else %}
{{post.properties.updated[0]}}
{% endif %}
{% endmacro %}

{% macro ymdonly(timestamp) %}
{{timestamp.split("T")[0]}}
{% endmacro %}

{% macro timeonly(timestamp) %}
{{timestamp.split("T")[1]}}
{% endmacro %}


{% macro published(post) %}
{% if post.properties.url == 'https://www.maxwelljoslyn.com' %}
{% elif post.properties.published %}
<span class="when-published">Published <a href="{{post.properties.url}}"><time class="dt-published" datetime="{{raw_published(post)}}">{{ymdonly(raw_published(post))}}</time></a> at {{timeonly(raw_published(post))}}</span>
{% endif %}
{% endmacro %}

{% macro updated(post) %}
{% if post.properties.updated %}
<span class="when-updated">Updated <a href="{{post.properties.url}}"><time class="dt-updated" datetime="{{raw_updated(post)}}">{{ymdonly(raw_updated(post))}}</time></a></span>
{% endif %}
{% endmacro %}

{% macro date(post) %}
{{published(post)}}
{{updated(post)}}
{% endmacro %}

<!-- 
     "content" : "i ate a sandiwich"
     "content" : {"html"
     "content" : [{"html" : "fuck"}]
-->
{% macro content(post) %}
{% if "content" not in post.properties %}
{% elif post.properties.content is string %}
<!-- I don't obey the mandate that generic notes need to be plaintext: I'll happily stick in HTML. therefore, the Jinja "safe" filter is needed even when properties.content looks like a bare string -->
<!-- FIXME: given this section in Micropub specification, since I want to be able to support HTML even if the post is a note, I should store all post content in the content[0].html scheme when saving a new post.
     e.g. content : [{"html" : "the-content-is-here"}]
     Why? because I want to be able to "return the content property as an object containing an html property"
     if I store data as a mere string in properties.content, then if I return that to a Micropub client which supports editing, semantically that content will be understood as plain text. which is not what I want.

     <q>HTML Content

     If the source of the post was written as HTML content, then the endpoint MUST return the content property as an object containing an html property. Otherwise, the endpoint MUST return a string value for the content property, and the client will treat the value as plain text. This matches the behavior of the values of properties in [microformats2-parsing].</q>

-->
{{post.properties.content|safe}}
{% elif post.properties["content[html]"] %} %}
{{post.properties["content[html]"|safe]}}
{% elif post.properties.content[0].html %}
{{post.properties.content[0].html|safe}}
{% else %}
{% endif %}
{% endmacro %}






{% macro categories(post) %}
{% if post.properties.category and post.properties.category is not string %}
{# it's a list #}
<div class="tags">Tags: {% for c in post.properties.category %}<a class="p-category" href="/tags/{{c}}">{{c}}</a>{% if not loop.last %}, {% else %}{% endif %}
    {% endfor %}</div>
{% elif post.properties.category %}
{# a single string - left over from Markdown days #}
<div class="tags">Tags: <a class="p-category" href="/tags/{{post.properties.category}}">{{ post.properties.category }}</a></div>
{% else %}
{% endif %}
{% endmacro %}

{% macro post_type(post) %}
{% if post.properties.type %}
Post Type: {{post.properties.type[0]}}
{% else %}
No post type detected.
{% endif %}
{% endmacro %}


{% macro metadata_area(post, np) %}
{{ hcard() }}
{% if post.properties["show-metadata"] %}
{{ date(post) }}
{{ categories(post) }}
{{ next_prev(np) }}
{% endif %}
{% endmacro %}


{% macro webmentions(post) %}
{% if post.properties.wm %}
<div class="center" id="webmentions"></div>
{% endif %}
{% endmacro %}



{% macro join_drongo() %}
<div>
    <!-- Begin Mailchimp Signup Form -->


    <div id="mc_embed_signup">
        <form action="https://maxwelljoslyn.us17.list-manage.com/subscribe/post?u=a4f320c858eb89641f87a7bf1&amp;id=8c49f38e34" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div id="mc_embed_signup_scroll">
	        <span class="drongo-cta">Join <strong>The Drongo</strong> for up-to-date tomfoolery</span>
                <br>
	        <label class="muted" for="mce-EMAIL">Email*
                </label>
	        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" data-kpxc-id="mce-EMAIL">
                <br>
	        <label class="muted" for="mce-FNAME">First Name*
                </label>
	        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" data-kpxc-id="mce-FNAME">
                <br>
	        <label class="muted" for="mce-LNAME">Last Name(s)</label>
	        <input type="text" value="" name="LNAME" class="" id="mce-LNAME" data-kpxc-id="mce-LNAME">
	        <span id="mce-responses" class="clear">
		    <span class="response" id="mce-error-response" style="display:none"></span>
		    <span class="response" id="mce-success-response" style="display:none"></span>
	        </span>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <br>
                <span style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a4f320c858eb89641f87a7bf1_8c49f38e34" tabindex="-1" value=""></span>
                <span class="clear"><input type="submit" value="I'm a Drongo" name="subscribe" id="mc-embedded-subscribe" class="button"></span>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
</div>
{% endmacro %}

{% macro blog_name() %}
Maxwell's Blog
{% endmacro %}

{% macro blog_head() %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog_name() }}</title>
    <link rel="webmention" href="https://webmention.io/www.maxwelljoslyn.com/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.maxwelljoslyn.com/xmlrpc"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fluffy-stuffy/webmention.css') }}" />
    <script src="{{ url_for('static', filename='callout.js') }}" async></script>
    <script src="{{ url_for('static', filename='fluffy-stuffy/webmention.js') }}" async></script>
    <script src="{{ url_for('static', filename='leader-line.min.js') }}" async></script>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://www.maxwelljoslyn.com/micropub">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/418">
    <link rel="feed" type="text/html" title="Maxwell's Blog" href="https://www.maxwelljoslyn.com/blog" />
    <!-- Bigfoot.js for footnotes -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigfoot-default.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bigfoot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='run-bigfoot.js') }}"></script>
</head>
{% endmacro %}

{% macro poemsindex_head() %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poems</title>
    <link rel="webmention" href="https://webmention.io/www.maxwelljoslyn.com/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.maxwelljoslyn.com/xmlrpc"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fluffy-stuffy/webmention.css') }}" />
    <script src="{{ url_for('static', filename='callout.js') }}" async></script>
    <script src="{{ url_for('static', filename='fluffy-stuffy/webmention.js') }}" async></script>
    <script src="{{ url_for('static', filename='leader-line.min.js') }}" async></script>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://www.maxwelljoslyn.com/micropub">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/418">
    <link rel="feed" type="text/html" title="Maxwell's Blog" href="https://www.maxwelljoslyn.com/blog" />
    <!-- Bigfoot.js for footnotes -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigfoot-default.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bigfoot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='run-bigfoot.js') }}"></script>
</head>
{% endmacro %}


{% macro alltags_head() %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tags</title>
    <link rel="webmention" href="https://webmention.io/www.maxwelljoslyn.com/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.maxwelljoslyn.com/xmlrpc"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fluffy-stuffy/webmention.css') }}" />
    <script src="{{ url_for('static', filename='callout.js') }}" async></script>
    <script src="{{ url_for('static', filename='fluffy-stuffy/webmention.js') }}" async></script>
    <script src="{{ url_for('static', filename='leader-line.min.js') }}" async></script>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://www.maxwelljoslyn.com/micropub">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/418">
    <link rel="feed" type="text/html" title="Maxwell's Blog" href="https://www.maxwelljoslyn.com/blog" />
    <!-- Bigfoot.js for footnotes -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigfoot-default.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bigfoot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='run-bigfoot.js') }}"></script>
</head>
{% endmacro %}


{% macro onetag_head(a_tag) %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Tagged "{{a_tag}}"</title>
    <link rel="webmention" href="https://webmention.io/www.maxwelljoslyn.com/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.maxwelljoslyn.com/xmlrpc"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fluffy-stuffy/webmention.css') }}" />
    <script src="{{ url_for('static', filename='callout.js') }}" async></script>
    <script src="{{ url_for('static', filename='fluffy-stuffy/webmention.js') }}" async></script>
    <script src="{{ url_for('static', filename='leader-line.min.js') }}" async></script>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://www.maxwelljoslyn.com/micropub">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/418">
    <link rel="feed" type="text/html" title="Maxwell's Blog" href="https://www.maxwelljoslyn.com/blog" />
    <!-- Bigfoot.js for footnotes -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigfoot-default.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bigfoot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='run-bigfoot.js') }}"></script>
</head>
{% endmacro %}
