<!doctype html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
    </head>
    <body>

        {# use ns to track and conditionally print pubdate #}
        {% set ns = namespace(pub=None, in_ul=False) %}
        {% for entry in entries %}
        {% if ns.pub != macro.ymdonly(macro.raw_published(entry)) %}
        {% if ns.in_ul %}
</ul>
{% set ns.in_ul=False %}
{% endif %}
{{ macro.ymdonly(macro.raw_published(entry)) }}
{% set ns.pub = macro.ymdonly(macro.raw_published(entry)) %}
<ul class="tight">
    {% set ns.in_ul=True %}
    {% endif %}
    <li><span class="h-entry"><a class="u-url" href="{{entry.properties.url}}">{{entry.properties.name}}</a></span></li>
    {% endfor %}

    </body>
</html>
