{% import "macro.html" as macro %}

{% if desc %}
<p>{{desc}}</p>
{% endif %}

There are {{num}} posts tagged "{{tag}}".

<span class="muted">Return to <a href="/tags">list of all tags</a></span>

<ul>
{% for post in posts %}
<li><span class="h-entry"><a class="u-url" href="{{post.properties.url}}">{{macro.name(post)}}</a></span></li>
{% endfor %}
</ul>
