{% import "macro.html" as macro %}

<!doctype html>
<html lang="en">
    {{ macro.poemsindex_head() }}

    <body>
        {{ macro.header() }}

        <article class="center h-feed">
            <h1 id="article-title"><a class="u-url" href="https://www.maxwelljoslyn.com/poems">Poems</a></h1>

            {{ macro.hcard() }}
            
            <div id="article-body">

                {{ poemsindex_body|safe }}

            </div>
            
        </article>

        <div class="center" id="webmentions"></div>

        <script data-goatcounter="https://maxwelljoslyn.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
        {#        {{ macro.join_drongo() }} #}
        
    </body>
</html>
