{% import "macro.html" as macro %}


<p>Here are those poems which I wish to share. I love jokes, rhymes, and wordplay, and I savor the challenge of fitting ideas into metric verse.</p>


<strong>Maxwell's Top Picks</strong>

<ol>
    <li>"<a href="/poems/huge-katana">Huge Katana</a>"</li>
    <li>???</li>
    <li>???</li>
    <li>???</li>
    <li>???</li>
</ol>


{% for post in after_hooked %}
{{macro.collected_poem(post)}}
{% endfor %}

{% for post in hooked_and_before %}
{{macro.collected_poem(post)}}
{% endfor %}
